//main: ../master.scss

.wrap-calendar{
	.calendar{
		border-collapse: collapse;
		border-spacing: 0;
		.day{
			vertical-align: middle;
			text-align: center;
			width: 40px;
			height: 40px;
		}
		.head{
			.day{
				font-size: 12px;
			}
		}
		.week{
			.day{
				color: $color-shaft;
				font-size: 14px;
				box-shadow: inset 0px 0px 0px 1px $color-alto;
				&:hover{
					box-shadow: inset 0px 0px 0px 1px $color-dove;
				}
				&.today{
					box-shadow: inset 0px 0px 0px 1px $color-primary;
					background-color: $color-primary;
					color: $color-white;
				}
				&.weekend{
					color: $color-chalice;
				}
			}
		}
	}
}