//main: ../master.scss

// COLORS
$color-black: #000000;
$color-shaft: #313131;
$color-dove: #707070;
$color-chalice: #A0A0A0;
$color-alto: #D8D8D8;
$color-gallery: #F0F0F0;
$color-alabaster: #FAFAFA;
$color-white: #FFFFFF;

$color-primary: #ff5e3a;
$color-primary-hover: #ff5e3a;
$color-primary-active: #ff5e3a;

$color-secondary: #2c365d;
$color-secondary-hover: #2c365d;
$color-secondary-active: #2c365d;


$color-link: $color-primary;
$color-link-hover: $color-primary-hover;

$color-text: $color-dove;
$color-border: $color-alto;

$color-success: #00D169;
$color-error: #FD413F;

// FONT
$font-open: 'Open Sans', sans-serif;
$font-icons: 'Material Icons', sans-serif;


$width-menu: 48px;
$width-nav: 32px;
$width-side: 280px;